<html>
	<head>
		<title>SOSB</title>

		<link rel="stylesheet" type="text/css" href="lib/css/style.css">

		<script type="text/javascript" src="lib/js/vendor/jquery-1.11.3.js"></script>
		<script type="text/javascript" src="lib/js/vendor/angular.js"></script>
		<script type="text/javascript" src="lib/js/scripts.js"></script>
	</head>
	<body ng-app="sosb">
		<header ng-controller="SosbVideos" class="full-screen video-bg-container">
			<video autoplay loop class="video-bg">
				<source src="lib/vid/sea.mp4" type="video/mp4">
			</video>

			<div class="full-screen-center">
				<h1 class="logo">
					<img alt="SOSB" class="js-fade-in-move-up" src="lib/img/logo.svg">
				</h1>
				<!-- <main class="full-screen-body">
					or
					<h2>Sounds of System Breakdown</h2>
					<p>are a band.<p>
					<a href="/bio" class="button">Bio</a>
				</main> -->

				<div class="video-bg-controls">
					<span ng-click="decrement();"> - </span>
					<span ng-click="increment();"> + </span>
				</div>
			</div>
		</header>
	</body>
</html>