@import "compass";
@import "compass/typography";

//
// Variables
//

$unit: 24px;
$width-1: 565px;
$width-2: 350px;

$settings-transition-time: 2.5s;
$settings-easing: cubic-bezier(.55,0,.1,1) $settings-transition-time;
$settings-border-radius: 3px;
$settings-border-width: 2px;

$color-blue: #3EAFCC;
$color-black: lighten(black, 2%);
$color-white: darken(white, 2%);

@include establish-baseline;

body {
	font-family: "Montserrat", sans-serif;
	letter-spacing: 2.2px;
	color: $color-white;
	margin: 0;
}

header {
	background: $color-black;
}

//
// Typography
//

h1 {
	margin: 0;
	font-weight: 100;
	@include adjust-font-size-to(48px);
	@include margin-trailer(1, 48px);
	&.logo {
		margin-bottom: 0;
	}
}

h2 {
	margin: 0;
	font-weight: 100;
	@include adjust-font-size-to(32px, 1.5);
	@include margin-trailer(0.5, 32px);
}

p {
	margin: 0;
	@include margin-trailer(1, $base-font-size);
	font-weight: 300;
}

a {
	color: $color-blue;
}

$button-shadow-offset: 6px;

.button {
	display: inline-block;
	background: $color-white;
	color: $color-black;
	border: $settings-border-width solid $color-white;
	padding: $unit/4 $unit;
	text-decoration: none;
	@include border-radius($settings-border-radius);
	position: relative;
	z-index: 1;
	&:hover {
		@extend .alt-button;
	}
	&:before {
		position: absolute;
		top: - ($button-shadow-offset + $settings-border-width);
		right: - ($button-shadow-offset + $settings-border-width);
		bottom: $button-shadow-offset;
		left: $button-shadow-offset;
		content: "";
		z-index: 0;
		@extend .alt-button;
		border-width: $settings-border-width $settings-border-width 0 0 !important;
	}
}

.alt-button {
	display: inline-block;
	background: transparent;
	color: $color-white;
	border: $settings-border-width solid $color-white;
	padding: $unit/4 $unit;
	text-decoration: none;
	@include border-radius($settings-border-radius);
}

//
// Components
//

// Component: Full screen

.full-screen {
	height: 480px;
	height: 100vh;
}

	.full-screen-center {
		max-width: $width-1;
		padding: $unit;
		margin: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		text-align: center;
		@include transform(translate(-50%, -50%));
	}

		.full-screen-body {
			max-width: $width-2;
			margin: auto;
		}

// Component: Video bg

.video-bg-container {
	position: relative;
	overflow: hidden;
}

	.video-bg {
		min-width: 100%;
		min-height: 100%;
		width: 100%;
		height: auto;
	}

	.video-bg-controls {
		font-size: 32px;
		text-align: center;
		span {
			cursor: pointer;
		}
	}

// Component: js

.js-move-up {
	@include transition(transform $settings-easing);
	@include transform(translateY($unit));
	&.js-in {
		@include transform(translateY(0));	
	}
}

.js-fade-in {
	@include transition(opacity $settings-easing);
	opacity: 0;
	&.js-in {
		opacity: 1;
	}
}

.js-fade-in-move-up {
	@include transition(transform $settings-easing, opacity cubic-bezier(.8,0,1,1) $settings-transition-time);
	@include transform(translateY($unit));
	opacity: 0;
	&.js-in {
		@include transform(translateY(0));
		opacity: 1;
	}
}
