/* line 106, ../../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 23, ../scss/style.scss */
body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2.2px;
  color: #fafafa;
  margin: 0;
}

/* line 30, ../scss/style.scss */
header {
  background: #050505;
}

/* line 38, ../scss/style.scss */
h1 {
  margin: 0;
  font-weight: 100;
  font-size: 3em;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}
/* line 43, ../scss/style.scss */
h1.logo {
  margin-bottom: 0;
}

/* line 48, ../scss/style.scss */
h2 {
  margin: 0;
  font-weight: 100;
  font-size: 2em;
  line-height: 1.125em;
  margin-bottom: 0.375em;
}

/* line 55, ../scss/style.scss */
p {
  margin: 0;
  margin-bottom: 1.5em;
  font-weight: 300;
}

/* line 61, ../scss/style.scss */
a {
  color: #3EAFCC;
}

/* line 67, ../scss/style.scss */
.button {
  display: inline-block;
  background: #fafafa;
  color: #050505;
  border: 2px solid #fafafa;
  padding: 6px 24px;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  z-index: 1;
}
/* line 80, ../scss/style.scss */
.button:before {
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: 6px;
  left: 6px;
  content: "";
  z-index: 0;
  border-width: 2px 2px 0 0 !important;
}

/* line 93, ../scss/style.scss */
.alt-button, .button:hover, .button:before {
  display: inline-block;
  background: transparent;
  color: #fafafa;
  border: 2px solid #fafafa;
  padding: 6px 24px;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 109, ../scss/style.scss */
.full-screen {
  height: 480px;
  height: 100vh;
}

/* line 114, ../scss/style.scss */
.full-screen-center {
  max-width: 565px;
  padding: 24px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 125, ../scss/style.scss */
.full-screen-body {
  max-width: 350px;
  margin: auto;
}

/* line 132, ../scss/style.scss */
.video-bg-container {
  position: relative;
  overflow: hidden;
}

/* line 137, ../scss/style.scss */
.video-bg {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
}

/* line 144, ../scss/style.scss */
.video-bg-controls {
  font-size: 32px;
  text-align: center;
}
/* line 147, ../scss/style.scss */
.video-bg-controls span {
  cursor: pointer;
}

/* line 154, ../scss/style.scss */
.js-move-up {
  -moz-transition: -moz-transform cubic-bezier(0.55, 0, 0.1, 1) 2.5s;
  -o-transition: -o-transform cubic-bezier(0.55, 0, 0.1, 1) 2.5s;
  -webkit-transition: -webkit-transform cubic-bezier(0.55, 0, 0.1, 1) 2.5s;
  transition: transform cubic-bezier(0.55, 0, 0.1, 1) 2.5s;
  -moz-transform: translateY(24px);
  -ms-transform: translateY(24px);
  -webkit-transform: translateY(24px);
  transform: translateY(24px);
}
/* line 157, ../scss/style.scss */
.js-move-up.js-in {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* line 162, ../scss/style.scss */
.js-fade-in {
  -moz-transition: opacity cubic-bezier(0.55, 0, 0.1, 1) 2.5s;
  -o-transition: opacity cubic-bezier(0.55, 0, 0.1, 1) 2.5s;
  -webkit-transition: opacity cubic-bezier(0.55, 0, 0.1, 1) 2.5s;
  transition: opacity cubic-bezier(0.55, 0, 0.1, 1) 2.5s;
  opacity: 0;
}
/* line 165, ../scss/style.scss */
.js-fade-in.js-in {
  opacity: 1;
}

/* line 170, ../scss/style.scss */
.js-fade-in-move-up {
  -moz-transition: -moz-transform cubic-bezier(0.55, 0, 0.1, 1) 2.5s, opacity 2.5s cubic-bezier(0.8, 0, 1, 1);
  -o-transition: -o-transform cubic-bezier(0.55, 0, 0.1, 1) 2.5s, opacity 2.5s cubic-bezier(0.8, 0, 1, 1);
  -webkit-transition: -webkit-transform cubic-bezier(0.55, 0, 0.1, 1) 2.5s, opacity 2.5s cubic-bezier(0.8, 0, 1, 1);
  transition: transform cubic-bezier(0.55, 0, 0.1, 1) 2.5s, opacity 2.5s cubic-bezier(0.8, 0, 1, 1);
  -moz-transform: translateY(24px);
  -ms-transform: translateY(24px);
  -webkit-transform: translateY(24px);
  transform: translateY(24px);
  opacity: 0;
}
/* line 174, ../scss/style.scss */
.js-fade-in-move-up.js-in {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
